
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 90%;
}


body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header, footer {
    background: #222;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

nav a {
    color: rgb(181, 243, 250);
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}


nav a:hover {
    color: #00c8ff;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

section {
    background: #90f0f7;
    padding: 1.5rem;
    border-radius: 0.5rem;
}
